## Sample Graph

In [1]:
import warnings
warnings.filterwarnings('ignore')

**Load bike-sales CSV File into df dataframe and display the first 5 rows**

In [2]:
import pandas as pd
df = pd.read_csv('Sample.csv')
df.head()

,Building Name,Electricity,Water,Steam,Type of Usage,Building Age,Square Footage,Seasonality,Unnamed: 8
0,Gore Hall,1000,500,200,Teaching,1920,2000,Regular,NaN
1,Smith Hall,1500,1000,300,Teaching,1930,3000,Regular,NaN
2,Morris Lib,2000,2000,400,Resource,1940,1500,Regular,NaN
3,Independent Hall,500,800,500,Dorm,1950,2050,Regular,NaN
4,James Smith Hall,300,600,600,Dorm,1960,3200,Regular,NaN

**Take a deep copy of df and save it to df1**

In [3]:
df1=df.copy()

**Import required libraries for visualization (matplotlib and seaborn)**

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns